

<ion-content class="body">
  <ion-item class="item-header" lines="none">
   <ion-label class="ionic-label">
     <ion-icon routerLink="/otp" class="icon" name="arrow-back"></ion-icon>
     <h2 class="title">Verify OTP</h2>
   </ion-label>
  </ion-item>
  <div class="form" >
    <div class="otp-fields">
      <ngx-otp-input class="input" [config]="otpInputConfig" (otpChange)="otpvalues($event)"></ngx-otp-input>

    </div>
    <p class="code-confirmation">Didn't Receive the Code? <a class="resend">Resend</a></p>

   <div class="btn">
     <ion-button  [disabled]="!isValidOTP" routerLink="/login" >Verify OTP</ion-button>
   </div>
  </div>
 </ion-content>
 
