
  <ion-tabs (ionTabsDidChange)="tabChanged($event)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
        <ion-icon name="search-outline"></ion-icon>
        Search
      </ion-tab-button>
      <ion-tab-button tab="booking-tab">
        <ion-icon name="list-outline"></ion-icon>
        Bookings
      </ion-tab-button>
      <ion-tab-button tab="logout">
        <ion-icon name="person-outline"></ion-icon>
        Account
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
