<ion-content class="body">
  <div class="signup-text">
    <ion-item class="ionic-items" lines="none">
      <ion-label>
        <h4 class="signup">SignUp</h4>
        <p class="desc">Already have an account? <span routerLink="/login">Login</span></p>
      </ion-label>
    </ion-item>
  </div>

  <form class="form" [formGroup]="registerForm">
    <ion-list>
      <ion-item lines="none" class="ionic-item">
        <ion-label class="label" position="stacked">Name</ion-label>
        <ion-input class="input" formControlName="name" type="text" placeholder="Enter Name"></ion-input>
      </ion-item>

      <ion-item lines="none" class="ionic-item">
        <ion-label class="label" position="stacked">Email</ion-label>
        <ion-input class="input" formControlName="email" type="text" placeholder="Enter Email"></ion-input>
      </ion-item>
      <ion-item lines="none" class="ionic-item">
        <ion-label class="label" position="stacked">Password</ion-label>
        <ion-input class="input" formControlName="password" type="password" placeholder="Enter Password" style="height: 50px;"></ion-input>
      </ion-item>
    </ion-list>
    <div class="btn">
      <ion-button routerLink="/otp" [disabled]="registerForm.invalid">SignUp</ion-button>
    </div>
  </form>

  <div class="divider">
    <ion-grid>
      <ion-row>
        <ion-col class="ionic-col">
          <span class="span1"></span>
        </ion-col>
        <ion-col class="ionic-col">
          <div class="div-text">Or SignUp using</div>
        </ion-col>
        <ion-col class="ionic-col">
          <span class="span1"></span>
        </ion-col >
      </ion-row>
    </ion-grid>
  </div>

  <div class="logos">
    <ion-grid>
      <ion-row>
        <ion-col class="col">
          <ion-img class="img" src="assets/icon/twitter.png" alt=""></ion-img>
          <div class="logo-text">Twitter</div>
        </ion-col>
        <ion-col class="col">
          <ion-img class="img" src="assets/icon/google.png" alt=""></ion-img>
          <div class="logo-text">Google</div>

        </ion-col>
        <ion-col class="col">
          <ion-img class="img" src="assets/icon/fb.png" alt=""></ion-img>
          <div class="logo-text">Facebook</div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>