
<ion-content class="content" [fullscreen]="true">
  <div class="body">
    <div class="header">
      <ion-img routerLink="/about" class="icon" src="/assets/icon/back-arrow-black.svg"></ion-img>
      <p class="title">Terms of service</p>
    </div>
    <p class="para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatibus vitae recusandae. Beatae mollitia in, obcaecati eos praesentium minus itaque quos repellendus. Fugit corporis suscipit doloremque odio maiores inventore sint officia, sapiente, voluptate adipisci consequuntur quas sed pariatur, laudantium itaque dicta iste provident. Alias illo cum nihil exercitationem quia assumenda numquam eos itaque a officia ut nemo, nisi reiciendis, repellat ea omnis quasi fugit quisquam enim totam beatae. Dignissimos, cum doloribus! Quibusdam unde quisquam id! Deserunt repellat nobis tempore mollitia, inventore, itaque praesentium debitis, nam ducimus veritatis fuga! Dolores, pariatur ratione vel magni iste beatae delectus ut ipsa dicta dolore.
    </p>
  </div>
</ion-content>
