@import "../../../global.scss";

@mixin f-15 {
    font-size: 15px;
    line-height: 22.5px;
}
.content {
    .body {
        padding: 5px 15px !important;
        .pop-detail {
            display: flex;
            justify-content: space-between;
          

            .title-section {
                display: flex;
                align-items: center;

                .dot-size {
                    height: 4px;
                    width: 4px;
                    margin-right: 5px;
                    .dot {
                        height: 4px;
                        width: 4px;
                        border-radius: 50%;
                        background-color: var(--blue);
                    }
                }
                .item-name {
                    @include f-15;
                }
            }
            .item-val {
                @include f-15;
            }
        }
        .selected {
            color: var(--blue) !important;
        }
    }
}
