@import "../../../global.scss";
@mixin screen-padding {
    padding: 0px 16px !important;
}
.content {
    color: var(--text-dark);
    --color: var(--text-dark);
    .item {
        --padding-start: 0px !important;
        --padding-end: 0px !important;
        --inner-padding-end: 0;
    }
    
    .header {
        @include screen-padding;

        .back-arrow {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }

        .title {
            @include f-23;
        }
        .appointment-subtitle {
            margin: 20px 0px;
            @include f-19;
        }
        .date-section {
            margin-bottom: 15px;

            .Service-dates {
                @include f-15;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .grid {
                .row {
                    .day-date {
                        border: 1px solid var(--input-border);
                        border-radius: 8px;
                        margin-right: 4px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                      
                        .text {
                            margin: 0px;
                        }

                        .day {
                            @include f-13;
                        }

                        .date {
                            @include f-19;
                        }
                    }
                  
                }
            }
        }

        .time-section {
            .service-time {
                @include f-15;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .grid {
                .row {
                    display: flex;
                    justify-content: space-between;
                    .column {
                        flex-grow: 1;
                        border: 1px solid var(--input-border);
                        margin: 10px 0px;                       
                        padding: 8px 12px;
                        border-radius: 8px
                      
                    }
                    .text {
                        @include f-15;
                        display: flex;
                        justify-content: center;
                        margin: 0px;
                    }
                }
            }
        }

        .payment{
            margin-top: 230px;

            .payment-id{
                @include f-15;
                font-weight: bold;
                margin: 0px;
            }
            .icon{
                color: var(text-light) !important;
               background-color:  var(text-light) !important;
                height: 22px;
                width: 16px;
            }
        }
    }


    
}
