

<ion-content class="content">
  <div class="header">
    <ion-item class="item back-arrow" lines="none">
      <ion-icon slot="start" routerLink="/checkout" name="arrow-back-outline"></ion-icon>
    </ion-item>
    <div id="open-modal" class="title">Checkout</div> 
    <div class="appointment-subtitle">Select Date & Time for the appointment</div> 

    <div class="date-section">
      <div class="Service-dates">When would you like your service?</div> 
      <ion-grid class="grid">
        <ion-row class="row">
          <ng-container *ngFor="let item of serviceDate">
            <ion-col [ngClass]="{'selected-item':selectedItem === item.id}" class="day-date" size="2" (click)="selectItem(item)">
              <p class="text day">{{item.day}}</p>
              <p class="text date">{{item.date}}</p>
            </ion-col>
          
          </ng-container>       
        </ion-row>
      </ion-grid>
    </div>
    <div class="time-section">
      <div class="service-time">When would you like your service?</div> 
      <ion-grid class="grid">
        <ion-row class="row">
            <ng-container *ngFor="let item of serviceTime">
            <ion-col [ngClass]="{'selected-item':selectedTime === item.id}" class="column day-date" size="5" (click)="selectTime(item)">
              <p class="text day">{{item.time}}</p>           
            </ion-col>                
          </ng-container>
          </ion-row>

      
      </ion-grid>
    </div>

    <div class="payment">
      <ion-item class="item" lines="none">
        <ion-img slot="start" src="./assets/icon/visa.svg"></ion-img>
        <p class="payment-id">4153 xxxx xxxxx 0981</p>
        <ion-icon class="icon" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </div>
    <app-cart-button></app-cart-button>

  </div>

  <ion-modal class="modal" trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5,0.75, 1]">
    <ng-template>
      <app-payment-methods type="checkout"></app-payment-methods>
     
    </ng-template>
  </ion-modal>
</ion-content>
