

<ion-content class="body" [scrollEvents]="true">
<ion-item class="ionic-item" lines="none">
  <ion-label class="label">    
    <h2 class="title"> Welcome Back!</h2>
    <p class="permission">Don't have an account? <span routerLink="/signup">SignUp</span></p>
  </ion-label>
</ion-item>
<form class="form" [formGroup]="loginForm">
  <ion-list>
    <ion-item lines="none" class="items">
      <ion-label class="label" position="stacked">Email</ion-label>
      <ion-input class="input" formControlName="email" type="text" placeholder="Enter Email"></ion-input>
    </ion-item>
    <ion-item lines="none" class="items">
      <ion-label class="label" position="stacked">Password</ion-label>
      <ion-input class="input" formControlName="password" type="password" (ionFocus)="onPasswordFieldFocus($event)" placeholder="Enter Password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="btn">
    <ion-button routerLink="/home-screen" [disabled]="loginForm.invalid">Login</ion-button>
  </div>
</form>

<div class="forgot-password">
 <p class="para">Forgot your Password?</p>
</div>

<div class="divider">
  <ion-grid>
    <ion-row>
      <ion-col class="ionic-col" size="3">
        <span class="span1"></span>
      </ion-col>
      <ion-col class="ionic-col col-2" size="6">
        <div class="div-text">Or Login using</div>
      </ion-col>
      <ion-col class="ionic-col" size="3">
        <span class="span1"></span>
      </ion-col >
    </ion-row>
  </ion-grid>
</div>

<div class="logos">
  <ion-grid>
    <ion-row>
      <ion-col class="col">
        <ion-img class="img" src="assets/icon/twitter.png" alt=""></ion-img>
        <div class="logo-text">Twitter</div>
      </ion-col>
      <ion-col class="col">
        <ion-img class="img" src="assets/icon/google.png" alt=""></ion-img>
        <div class="logo-text">Google</div>

      </ion-col>
      <ion-col class="col">
        <ion-img class="img" src="assets/icon/fb.png" alt=""></ion-img>
        <div class="logo-text">Facebook</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
