

<ion-content class="body">
<ion-item class="ionic-item" lines="none">
  <ion-label class="label">    
    <h2 class="title"> Welcome Back!</h2>
    <p class="permission">Don't have an account? <span>SignUp</span></p>
  </ion-label>
</ion-item>
<div class="form">
  <ion-list>
    <ion-item lines="none" class="items">
      <ion-label class="label" position="stacked">Name</ion-label>
      <ion-input class="input" type="text" placeholder="Your Placeholder"></ion-input>
    </ion-item>
    <ion-item lines="none" class="items">
      <ion-label class="label" position="stacked">Email</ion-label>
      <ion-input class="input" type="text" placeholder="Your Placeholder"></ion-input>
    </ion-item>
  </ion-list>
  <div class="btn">
    <ion-button routerLink="/home-screen">Login</ion-button>
  </div>
</div>

<div class="forgot-password">
 <p class="para" routerLink="/location">Forgot your Password?</p>
</div>

<div class="divider">
  <ion-grid>
    <ion-row>
      <ion-col class="ionic-col">
        <span class="span1"></span>
      </ion-col>
      <ion-col class="ionic-col">
        <div class="div-text">Or SignUp using</div>
      </ion-col>
      <ion-col class="ionic-col">
        <span class="span1"></span>
      </ion-col >
    </ion-row>
  </ion-grid>
</div>

<div class="logos">
  <ion-grid>
    <ion-row>
      <ion-col class="col">
        <ion-img class="img" src="assets/icon/twitter.png" alt=""></ion-img>
        <div class="logo-text">Twitter</div>
      </ion-col>
      <ion-col class="col">
        <ion-img class="img" src="assets/icon/google.png" alt=""></ion-img>
        <div class="logo-text">Google</div>

      </ion-col>
      <ion-col class="col">
        <ion-img class="img" src="assets/icon/fb.png" alt=""></ion-img>
        <div class="logo-text">Facebook</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
