

<ion-content class="body">
 <ion-item class="item-header" lines="none">
  <ion-label class="label">
    <ion-icon class="icon" name="close"></ion-icon>
    <h2 class="title">Enter Mobile Number</h2>
  </ion-label>
 </ion-item>
 <div class="form">
  <ion-item lines="none" class="ionic-item">
    <ion-label class="label" position="stacked">Phone Number</ion-label>
    <ion-input class="input" type="text" placeholder="Your Placeholder"></ion-input>
  </ion-item>
  <div class="btn">
    <ion-button routerLink="/otp-verify">Send OTP</ion-button>
  </div>
 </div>
</ion-content>
