

<div class="content">
  <ion-item class="item header" lines="none">
    <ion-text slot="start" class="logout">Logout?</ion-text>
    <ion-img slot="end" class="cross-icon" src="../../../assets/icon/cross.svg"></ion-img>
  </ion-item>
  <p class="confirmation">Are you sure want to logout from the app?</p>
  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col class="col" size="5">
        <ion-button class="cancel" expand="block" fill="outline">Cancel</ion-button>
      </ion-col>
      <ion-col class="col" size="7">
        <ion-button class="logout" expand="block" color="danger">Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  